<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Suite Home</title>
</head>
<body>
<div class="container">
    <div class='row'>
      <h3>Get a home value estimate for:</h3>
        <form class="form-inline" action="./result" method="post">
          <div class="form-group col-lg-4">
            <input type="text" name="address" value="8125 NE Wygant St" placeholder="address">
            <input type="text" name="citystate" value="Portland, OR" placeholder="citystate">

            <button type="submit" class="btn-primary">Compute</button>
          </div>

        </form>
    </div>





  </div>
</body>
</html>
